<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Great Quotes</title>
</head>
<body>
    <div class="box">
        <div id="greet">Hi {{name}}, Here have a {{time}} quote for you.</div>
        <div id="quote"></div>
        <div id="author"></div>
        <button id="newQuote">New Quotes</button>
        <script src="home.js"></script>
    </div>
</body>
</html>